.login {
    background-color: #eee;
    height: 90vh;
    margin: 5vh;
    border-radius: 50px;
    display: flex;
}

.login__left{
    flex:0.5;
    padding-left: 50px;
    padding-top: 50px;
}

.login__left > img {
    padding-top: 50px;
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

.login__left > h1> span, .login__right > h1> span {
    color: #BCDB7E;
}

.login__right{
    flex:0.5;
    padding-top: 50px;
    padding-left: 50px;
}

.login__right > h1 {
    margin-left: 50px;
    margin-bottom: 50px;
}

.login__right > h2 {
    padding-left: 50px;
    padding-top: 25px;
}

.login__right > input{
    margin-left: 50px;
    width: 60%;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #cfcfcf;
}

.login__signInButton {
    background-color: #BCDB7E; 
    margin-left: 50px;
    width: 62%;
    height: 40px;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    margin-top: 25px;

}
@media(max-width: 768px){
    .login__left > img {
        display:none;
    }
    .login{
        flex-direction: column;
    }
    .login__left {
        flex: 0;
    }
    .login__left > h1 {
        flex: 0;
        margin-bottom: 20px;
    }
    .login__right {
        padding: 0px;
        flex:1;
    }
    .login__right > h1 {
        margin-left: 50px;
        margin-bottom: 20px;
    }
}